.Gamebyid-gambar{
    background: rgba(25, 27, 29, 0.26);
}

.Gamebyid-desc{
    padding: 0px 10px 10px 0px;
    margin: 10px 0px 0px 20px;
    font: normal normal normal 13px/16px Nirmala UI;
    color: rgb(0, 0, 0);
    /*atas, kanan, bawah, kiri*/
}
.Gamebyid-subtext{
    padding: 0px 10px 0px 0px;
    margin: 0px 0px 5px 20px;
    font: normal normal normal 12px/16px Nirmala UI;
    color: rgb(73, 72, 72);
    /*atas, kanan, bawah, kiri*/
}
.Newsbyid-subtext{
    margin: 0px 0px 0px 0px;
    font: normal normal normal 18px/16px Nirmala UI;
    color: rgb(73, 72, 72);
    /*atas, kanan, bawah, kiri*/
}
.Newsbyid-date{
    margin: 0px 0px 10px 0px;
    font: normal normal normal 15px/16px Nirmala UI;
    color: rgb(73, 72, 72);
    /*atas, kanan, bawah, kiri*/
}
.Newsbyid-isi{
    padding: 0px 10px 10px 0px;
    margin: 30px 0px 0px 0px;
    font: normal normal normal 20px Nirmala UI;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}
.Newsbyid-subtext kategori{
    padding: 3px 7px 3px 7px;
    background: rgba(216, 216, 216, 0.753) 0% 0% no-repeat padding-box;
}
@media only screen and (max-width: 600px) {
    h1 {
        font: normal normal bold 25px/25px Nirmala UI;
        padding-left: 20px;
        margin-top: 70px;
    }
}
@media only screen and (min-width: 992px) {
    h1 {
        font: normal normal bold 25px/25px Nirmala UI;
        padding-left: 70px;
        margin-top: 70px;
    }
}

h2 {
    font: normal normal bold 20px/20px Nirmala UI;
    padding-left: 1px;
}
h3 {
    font: normal normal bold 15px/20px Nirmala UI;
    padding-left: 0px;
}
@media only screen and (max-width: 600px) {
    h4 {
        font: normal normal bold 25px/25px Nirmala UI;
        padding-left: 20px;
        margin-top: 90px;
    }
}
@media only screen and (min-width: 992px) {
    h4 {
        font: normal normal bold 25px/25px Nirmala UI;
        padding-left: 70px;
        margin-top: 90px;
    }
}
h5 {
    font: normal normal bold 35px Nirmala UI;
    margin-top: 15px;
    margin-bottom: 15px;
}
@media only screen and (max-width: 600px) {
    h6 {
        font: normal normal bold 20px/25px Nirmala UI;
        padding-left: 20px;
        margin-top: 30px;
    }
}
@media only screen and (min-width: 992px) {
    h6 {
        font: normal normal bold 25px/25px Nirmala UI;
        padding-left: 70px;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 600px) {
    .news {
        background: rgba(25, 27, 29, 0.8) 0% 0% no-repeat padding-box;
        padding: 35px 20px 90px 25px;
        margin-top: 350px;
        font: normal normal normal 20px/25px Nirmala UI;
        color: rgb(160, 160, 160);
    }
}
@media only screen and (min-width: 992px) {
    .news {
        background: rgba(25, 27, 29, 0.8) 0% 0% no-repeat padding-box;
        padding: 35px 70px 90px 90px;
        margin-top: 350px;
        font: normal normal normal 20px/25px Nirmala UI;
        color: rgb(160, 160, 160);
    }
}
@media only screen and (max-width: 600px) {
    .judul {
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal bold 20px/25px Nirmala UI;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 1);
        opacity: 1;
    }
}

@media only screen and (min-width: 992px) {
    .judul {
        color: var(--unnamed-color-ffffff);
        text-align: left;
        font: normal normal bold 25px/25px Nirmala UI;
        letter-spacing: 5px;
        color: rgba(255, 255, 255, 1);
        opacity: 1;
    }
}
.kategori {
    opacity: 1;
    font: normal normal normal 15px/15px Tahoma;
    margin-top: -20px;
}
p kategori{
    background: rgba(255, 255, 255, 0.18);
    padding: 1px 5px 1px 5px;
}
p genre{
    background: rgba(73, 73, 73, 0.18);
    padding: 1px 5px 1px 5px;
}
.routerlinknews{
    font: normal normal bold 20px/25px Nirmala UI;
    color: rgb(238, 238, 238);
}
.routerlinkgame{
    color: rgba(255, 68, 82, 0.98);
}
.routerlinkheadline{
    color: rgba(0, 0, 0, 0.98);
}
.routerlinkheadlinemobile{
    font: normal normal bold 17px/20px Nirmala UI;
    color: rgba(0, 0, 0, 0.98);
}
.gamedescmobile{
    font: normal normal 13px/17px Arial;
}
.routerlinklogin{
    color: rgb(238, 238, 238);
}
.bookmarklogin{
    text-align: center;
    margin-top: 100px;
}
.listGame{
    padding: 1px 1px 1px 70px;
    color: rgba(101, 5, 255, 0.98)
}
.filterGame{
    padding: 1px 100px 1px 50px;
    background: rgba(255, 255, 255, 0.18) 0% 0% no-repeat padding-box;
}
.game_by {
    margin-top: 25px;
}
/*@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css');*/

button:hover{background-color:rgb(218, 218, 218);}

button:focus{background-color:rgb(206, 206, 206);}